@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

/* Baskervville font family */
@font-face {
  font-family: 'Baskervville';
  src: url('/fonts/Baskervville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Baskervville';
  src: url('/fonts/Baskervville-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Monsieur font family */
@font-face {
  font-family: 'Monsieur';
  src: url('/fonts/MonsieurLaDoulaise-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Baskervville', serif;
}
h1 {
  font-family: 'Monsieur', serif;
  font-size: clamp(0rem, 10vw, 10rem);
}
h2 {
  font-family: 'Monsieur', serif;
  font-size: clamp(0rem, 8vw, 8rem);
}
